nav{
    background-color: #5e430e;
    color:#fff;
    display:flex;
    align-content: center;
}

ul{
    width:65vw;
    align-self: center;
    /* border:1px solid white; */
    display: flex;
    justify-content: space-between;
    margin-left:7%;
}

nav img{
    margin-left: 5%;
    width:4rem;
}
.link{
    text-decoration: none;
    color: #fff;
}